<section class="list-product">

  <div *ngIf="activo; else ContenidoElse">
    MOSTRAR CONTENIDO
  </div>

  <ng-template #ContenidoElse>
    NO MOSTRAR NADA
  </ng-template>

  <ion-button (click)="cambiarValor()">Activar</ion-button>
  <div class="content-info">
    <h1>Lista Productos</h1>
    <div class="content-grid-4">
      <div *ngFor="let producto of listaproductos" class="card">
        <h3>{{ producto.title }}</h3>
        <div class="content-img">
          <img [src]="producto.image" alt="imagen" />
        </div>
        <div class="txt">
          <p>{{ producto.descripcion }}</p>
          <p><strong>Categoria:</strong> {{ producto.categoria }}</p>
          <p><strong>Precio:</strong> {{ producto.price }}</p>
        </div>
      </div>
    </div>
  </div>
</section>